<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MSE: Last report</title>
    <link rel="stylesheet" href="../css/bootstrap-solarized-light.css">
    <script src='../js/vue.js'></script>
    <style>
      th.center { text-align: center; }
      th.left { text-align: left; }
      th.right { text-align: right; }
      tbody.totals { font-weight: bold; }
    </style>
  </head>
  <body class='container'>
    <div id='app'>
      <!-- if there is a report, then there are trns -->
      <h3 vshow='trns.length > 0'>Last report <span>{{ date | toDMY('.') }}</span></h3>
      <div class='table-responsive'>
        <table class='table table-striped table-hover table-condensed'
               v-show='trns.length > 0'>
          <caption>Daily list for {{ date | toDMY('.') }}</caption>
          <thead>
            <tr>
              <th class='left'>Company</th>
              <th class='right'>Price</th>
              <th class='right'>Shares (qty)</th>
              <th class='right'>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='t in trns'>
              <td align='left'>{{ t.company }}</td>
              <td align='right' v-bind:class="{ 'text-success': t.raise > 0,
                  'text-danger': t.raise < 0 }">
                {{ t.price | number }}
              </td>
              <td align='right'>{{ t.shares | number }}</td>
              <td align='right'>{{ t.turnover | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4>Total {{ totals.trns | number }}</h4>
      <div class='row col-md-6' v-show='trns.length > 0'>
        <dl class='dl-horizontal'>
          <dt>Winners</dt><dd class='text-success'>{{ change.win }}</dd>
          <dt>Loosers</dt><dd class='text-danger'>{{ change.loss }}</dd>
          <dt>Winners</dt><dd>{{ change.even }}</dd>
        </dl>
      </div>
      
      <h3 v-show='bonds.length > 0'>
        Bonds sales for <span>{{ date | toDMY('.') }}</span>
      </h3>
      <div class='table-responsive' v-show='bonds.length > 0'>
        <table class='table table-striped table-hover table-condensed'>
          <caption>Daily list for {{ date | toDMY('.') }}</caption>
          <thead>
            <tr>
              <th class='left'>Title</th>
              <th class='right'>Price</th>
              <th class='right'>Qty</th>
              <th class='right'>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='b in bonds'>
              <td align='left'>{{ b.title }}</td>
              <td align='right'>
                {{ b.price | number }}
              </td>
              <td align='right'>{{ b.qty | number }}</td>
              <td align='right'>{{ b.turnover | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 v-show='bonds.length > 0'>Total {{ totals.bonds | number }}</h4>

      <h3 v-show='bonds.length > 0'>Total sales {{ totals.bonds + totals.trns | number }}</h3>
    </div> <!-- #app -->
    <script src='../js/last.js'></script>
  </body>
</html>
