<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Search</title>
    <link rel="stylesheet" href="../css/bootstrap-solarized-light.css">
    <!--
    <script src='../js/vue.js'></script>
    -->
    <style>
      body {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      button.no-border { border: none; }
    </style>
  </head>
  <body>
    <div style='display: flex; flex-flow: row wrap; align-items: center;'>
      <div style='width: 300px;'>
        <div class='input-group'>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span> 
          </span>
          <input id='search-input' class='form-control' type='text'
                placeholder='Search text here...' autofocus>
        </div>
      </div>
      <div style='display: inline;'>
        <button id='search-prev' class='btn btn-default no-border' disabled>
          <span>&lt;</span></button>  
        <button id='search-next' class='btn btn-default no-border' disabled>
          <span>&gt;</span></button> 
        <button id='search-cancel' class='btn btn-default no-border'>
          <span>&times;</span></button> 
      </div>
    </div>
    <!--
    <div class='form form-inline'>
      <div class='row' style='display: inline!important;'>
        <div class='form-group col-lg-4 col-md-4 col-sm-4'>
            <div class='input-group'>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span> 
              </span>
              <input id='search-input' class='form-control' type='text'
                    style='width: 250px;'
                    placeholder='Search text here...' autofocus>
            </div>
        </div>
        <div class='form-group'>
          <button id='search-prev' class='btn btn-default no-border' disabled>
            <span>&lt;</span></button>  
          <button id='search-next' class='btn btn-default no-border' disabled>
            <span>&gt;</span></button> 
        </div>
        <button id='search-cancel' class='close'>
          <span>&times;</span></button> 
      </div>
    </div>
    -->
    <script src='../js/search.js'></script>
  </body>
</html>
